NODE_ENV=development

# Password Encryoption Key
PASSWORD_SECRET=12345

DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=db_express
DB_HOST=127.0.0.1
DB_PORT=3306
 
PORT_APP=9000

SESSION_SECRET='r8q,+&1LM3)CD*zAGpx1xm{NeQhc;#'

# Password awal karyawan baru (JIKA kosong, sistem generate password acak per karyawan)
DEFAULT_NEW_EMPLOYEE_PASSWORD=

URL_CLIENT='localhost:3000'
EMAIL_SENDER='meme@gmail.com'
EMAIL_SERVICE='gmail'
EMAIL_USER="memberid.meme@gmail.com"
EMAIL_PASSCODE="mjeoawyupnwrynau"

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL=mysql://root:@localhost:3306/db_meme
# DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"